.meditation
  padding-top 150px
  .container
    // height calc(100vh - 150px)
    display flex
    flex-direction column
    justify-content center
    align-items center

.media-card
  display flex
  flex-direction column
  width 100%
  max-width 480px

.media-card__title
  margin 0 0 0.5em
  font-size 2rem

.media-card__title--bonus
  color: violet

.media-card__img
  margin-bottom 1em
  border-radius 12px
  overflow hidden

  img
    max-width 100%
