mixin meditation()
  .meditation
    .container
      .media-card
        h1.media-card__title Медитация изобилия
        .media-card__img
          img(src="./assets/images/meditation.jpg", alt="медитация изобилия")
        .media-card__player
          audio(src="./assets/uploads/meditation.mp3" controls)
