include ../bemto/bemto.pug

include ../blocks/header/header
include ../blocks/subheader/subheader
include ../blocks/alladin/alladin
include ../blocks/footer/footer
include ../blocks/scripts/scripts

-
  set_bemto_settings({
    prefix: '',
    element: '__',
    modifier: '--'
  })

doctype html
html(lang='ru')
  include ../blocks/head/head
  body
    //- +header()
    //- +subheader()
    main
    +alladin()
    +footer()
    block scripts
    +scripts(['https://cdn.jsdelivr.net/npm/@supabase/supabase-js', 'build.js'])
