
include ../bemto/bemto.pug

include ../blocks/header/header
include ../blocks/subheader/subheader
include ../blocks/hero/hero
include ../blocks/why/why
include ../blocks/session/session
include ../blocks/reviews/reviews
include ../blocks/footer/footer
include ../blocks/scripts/scripts

-
  set_bemto_settings({
    prefix: '',
    element: '__',
    modifier: '--'
  })

doctype html
html(lang='ru')
  include ../blocks/head/head
  body.bg-white
    +header()
    main
      +subheader()
      +hero()
      +why()
      +session()
      +reviews
    +footer()
    block scripts
    +scripts(['https://cdn.jsdelivr.net/npm/@supabase/supabase-js', 'build.js'])
