- var price = "<i class='price'>6<span></span>000 &#8381;</i>"

mixin marathon()
  .marathon
    .container
      h2 Марафон «Экспресс удача»

      p За 5 дней вы получите техники, которые сможете использовать в любое время как "скорую помощь":

      ul
        li вы научитесь менять фокус внимания на позитив;
        li повысите уровень вибраций;
        li сможете общаться с близким из состояния любви, улучшая этим любую ситуацию;
        li сделаете шаг в желаемую реальность;
        li исцелите "внутреннего ребёнка";
        li сформируете привычки, дающие новые возможности и т.д.

      p Вы сами выбираете как реагировать и действовать в каждой ситуации. При регулярном использовании этих практик ваша жизнь заиграет новыми красками, а мечты станут реальностью.

      .course__buy
        .course__title
          h2 Стоимость Марафона
          h3
            i.price !{price}

        p.course__buy-button
          a.btn(href="https://www.tinkoff.ru/rm/pokhodnya.margarita1/aAyUK8090" target="_blank") Купить

      p.course__buy-instruction ❗️Обязательно пришлите Чек 🧾 с подтверждением оплаты мне в личные сообщения  в <a href="https://t.me/Margarita_Po">Телеграмм</a> и ваш адрес электронной почты — это будет ваш логин для входа на страницу с материалами курса.<br />После оплаты я добавлю вас в Закрытый Телеграм Чат — там мы сможем с вами общаться, я буду отвечать на ваши вопросы.

      p.course__buy-instruction Этот Марафон входит в состав курса <a href="https://alladin.vercel.app/">«Лампа Алладина»</a>, где вы получите ещё больше практик по более выгодной цене и сможете получить доступ к VIP-тарифу.
