mixin marathon()
  .marathon
    .container
      h2 Марафон «Экспресс удача»
      p На этой странице вам доступны все материалы марафона «Экспресс удача». Они помогут вам изменить восприятие реальности, почувствовать лёгкость, свободу, уверенность в себе и наполнить свою жизнь Любовью и Изобилием.
      p Марафон рассчитан на прохождение в течение пяти дней. Всё, что вам понадобится, это уедениться на полчаса в день для прохождения Практик.
      p Все материлы абсолютно бесплатны, но если у вас возникнет желание отблагодарить меня, то можно сделать перевод на карту
      p.card-info__number
        | 5536 - 9138 - 7472 - 5217
        span.js-copy.link
          | скопировать номер

      .marathon__day
        h3 День 1
        .video
          <iframe width="560" height="315" src="https://www.youtube.com/embed/25UQ5juRhBI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        .video
          <iframe width="560" height="315" src="https://www.youtube.com/embed/HbLsZ5SDbWQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        h4 Задания первого дня
        p
          b Задание 1
        p Отслеживать свои реакции и записывать в тетрадь ответы на вопросы:
        ul
          li Что я сейчас чувствую (злость, обида, страх, чувство вины, стыд, грусть, скука)?
          li Какая я в этот момент, когда внутри это чувство (слабая, беззащитная, нелюбимая, ненужная…)?
          li Из какого возраста это чувство? — слушаем интуицию, записываем первое, что приходит в голову (например, 5 лет).
          li Какой вывод о себе я тогда сделала?

        p Например, «меня нельзя любить», или «мир враждебен», или «надо быть хорошей, чтобы меня любили»…

        p Затем пропишите 7 позитивных утверждений о себе взамен 1 негативного.
        p
          b Цель:
          |  переписать подсознательные убеждения из детства.

        p
          b Задание 2
        p Самому для себя создать Аффирмации из новых позитивных утверждений, которые вы записали себе в тетрадочку, взамен негативных убеждений.
        p Каждое утро проговаривать вслух и проживать новые чувства из ваших Аффирмаций.

        p Пишите в утвердительной форме, вдохновляюще, не используя частицу НЕ. Например, вместо «Я не болею» пишите «Я здорова».

        p
          b Задание 3
        p Перед сном вспомнить свой день.
        p Написать 10 Благодарностей себе за этот день.
        p Написать 10 Благодарностей Вселенной за удачные события.
        p Даже если ничего не делали, пишем: «Я благодарю себя за то, что разрешила себе отдохнуть! За то, что была в хорошем настроении или позволила себе погрустить…»

        p Все три задания делаем ежедневно в течение 21 дня ( или больше). Вырабатываем новые привычки мышления!
        p Вскоре это войдёт в привычку и будет занимать меньше времени.

      .marathon__day
        h3 День 2
        .video
          <iframe width="560" height="315" src="https://www.youtube.com/embed/yRYofsO_JAY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .media-card
          h2.media-card__title Энергопрактика «Восстановление здоровья»
          .media-card__img
            img(src="./assets/images/day2.jpg", alt="Восстановление здоровья")
          .media-card__player
            audio(src="./assets/uploads/health.mp3" controls)

      .marathon__day
        h3 День 3
        .video
          <iframe width="560" height="315" src="https://www.youtube.com/embed/B8yEXUDjK5A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .media-card
          h2.media-card__title Энергопрактика «Розовое облако любви»
          .media-card__img
            img(src="./assets/images/day3.jpg", alt="Розовое облако любви")
          .media-card__player
            audio(src="./assets/uploads/pinkCloud.mp3" controls)

        .marathon__day
          h3 День 4
          .video
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9e3fWBu-o8g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          .media-card
            h2.media-card__title Энергопрактика «Пещера сокровищ»
            .media-card__img
              img(src="./assets/images/day4.jpg", alt="Пещера сокровищ")
            .media-card__player
              audio(src="./assets/uploads/treasureCave.mp3" controls)

        .marathon__day
          h3 День 5
          .media-card
            h2.media-card__title Энергопрактика «Принятие себя»
            .media-card__img
              img(src="./assets/images/day5.jpg", alt="Принятие себя")
            .media-card__player
              audio(src="./assets/uploads/self.mp3" controls)

        .marathon__day
          p Дорогие друзья, если вам понравились практики марафона, вы можете отблагодарить меня, переведя любую сумму на карту
            b  5536 - 9138 - 7472 - 5217.
          p Если вы хотите заметить ещё больше перемен к лучшему в своей жизни, вы можете приобрести мой&nbsp;
             a(href="./course.html") Курс Энергопрактик «С&nbsp;Маргаритой к Изобилию».

