mixin session()
  .session
    //.session__bg
    //  svg(viewBox="0 0 1920 79")
    //    path(d="M0 0h1920v79L0 0z" data-name="Path 1450")
    .container
      h2 С кем я не работаю
      ul.error
        li С теми, кто привык других обвинять в своих бедах
        li С теми, кто не готов брать ответственность за свою жизнь и за самого себя
        li С теми, кто только раздумывает и не готов начать действовать сейчас
      p Если ни один из пунктов к вам не относится, я буду рада увидеть вас у себя на консультации. Для записи на консультацию прямо сейчас нажмите на кнопку «ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ», оставьте свои контакты в анкете и в ближайшее время моя помощница с вами свяжется.

      .session__button
        a(class="btn" href="./form.html") ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ


