mixin header()
  .svg-sprite
    include ../sprite/svg.svg
  +b.header
    .container.container--flex
      .logo
        h1 Маргарита Походня
          span психолог · регрессолог · энергокоуч
      a.btn(href="./form.html") Бесплатная консультация
    //- svg.icon
    //-   use(xlink:href="#logo")
