mixin why()
  .why
    .why__blob
      svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600")
            defs
                linearGradient(id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox")
                    stop(offset="0" stop-color="#f1f6f9")
                    stop(offset="1" stop-color="#f1f6f9" stop-opacity="0")
            g(data-name="blob-shape (3)")
                path(class="blob" fill="url(#d)" d="M464.9181051000007 139.53773809999916c44.82475730000012 40.40503420000027 74.61371810000009 100.46558800000057 60.48060049999997 146.32914430000073,-14.169237700000107 45.92743620000017,-72.1244337000003 77.72175480000024,-116.98531110000042 113.8424486999996,-44.82475730000012 36.184573799999356,-76.61907590000018 76.759402799998,-114.07995330000031 82.42596159999806,-37.49699750000011 5.702678900000051,-80.72443370000029,-23.439032499998483,-110.77792159999993,-59.55972639999783,-30.025728099999625,-36.184573799999356,-46.9413877999987,-79.41200999999953,-54.12734609999878,-129.7254044999998,-7.149838200000084,-50.31339450000026,-4.433854900001174,-107.7766272000006 25.555753099998455,-148.18166140000088 30.089607999999625,-40.368914100000275 87.55284069999996,-63.71574980000048 146.2966739000003,-64.99635030000046 58.71607340000031,-1.2528406999999673 118.7766272000006 19.496673900000285 163.6375046000007 59.865588000000564z")
    .container.container
      .why__content
        .why__img
          .why__bg
            img(src="./assets/images/figure-svg.svg" alt="")
          div
            img(src="./assets/images/2.jpg", alt="" class="mask-img")
        .why__text
          h2 Зачем я провожу бесплатные консультации?
          p Сейчас я пишу книгу для женщин “Как сохранить отношения и не потерять себя”. Чтобы книга получилась полезной, востребованной, я хочу собрать самые острые вопросы от своих подписчиков и клиентов.

          p Также в ближайшее время я решила провести серию прямых эфиров. А для этого мне нужно знать самые острые вопросы моих потенциальных клиентов. В обмен я готова делиться всеми самыми ценными знаниями, которые у меня есть.
          