mixin hero()
  .hero
    .hero__bg
      svg(viewBox="0 0 1437 1180")
        path(fill="#f1f6f9" d="M0 0h1377l60 1010a120 120 0 01-120 120L0 1180z" data-name="Path 1350")

    .container.container--flex
      .hero__content
        .hero__blob
          svg(viewbox='0 0 550 550')
            defs
              lineargradient#a(x1='.069' x2='.753' y1='.116' y2='.858' gradientunits='objectBoundingBox')
                stop(offset='0' stop-color='#fff')
                stop(offset='1' stop-color='#fff' stop-opacity='.012')
            g(data-name='blob-shape (3)')
              path.blob(fill='url(#a)' d='M464.31715167777594 140.2677553444467c44.71585969999966 40.1711060222215 74.53708645555533 99.98159866666516 60.50076672222228 145.69592492222026,-14.076473077777491 45.77417291111064,-71.87033929999922 77.51202608888823,-116.62635234444333 114.19334096666776,-44.71585969999966 36.74116153333505,-76.45371287777726 78.48563142222756,-113.80972592222139 84.10379128889407,-37.396166388888574 5.658313211110974,-80.47033929999921,-24.749836944448496,-110.84245351111132,-61.431151822228,-30.35242090000101,-36.74116153333505,-48.062629755559016,-79.81533444444568,-55.18002290000325,-129.90690050000055,-7.077239799999775,-50.091566055554864,-3.4215105444413183,-107.26037191110952 26.890757011115237,-147.43147793333102 30.412267555556554,-40.130952677777046 87.58107341111119,-63.3043588666654 146.05064598888814,-64.60512558888767 58.449879266665846,-1.2810734111111983 118.26037191110952 19.250645988888127 163.01638495555363 59.38159866666518z')

        .hero__text
          span.hero__lead Привет! Меня зовут Маргарита Походня.
          h1 Я помогаю женщинам наладить отношения в паре.

          p Я сертифицированный специалист по Регрессионной терапии, эксперт по семейным отношениям. Счастлива в браке вот уже 25 лет, у меня прекрасные доверительные отношения с дочерью - студенткой. Я помогаю женщинам наладить отношения в паре и создать отношения вашей мечты. Помогу и вам!

        .hero__btn
          a(class="btn" href="#") Записаться на бесплатную консультацию
      .hero__img
        .hero__img-bg
          img(src="./assets/images/figure-svg.svg" alt="")
        div
          img(src="./assets/images/2.jpg", alt="" class="mask-img")
    //- .hero__footer
    //-   img(src="./assets/images/figure-svg.svg" alt="")
