mixin course-content()
  .course
    .container
      .course__title
        p.pre Курс энергопрактик
        h1 С Маргаритой к Изобилию
          span 10 энергопрактик, которые изменят вашу жизнь

  .course-content
    .container
      .course-content__hello
        .video
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VIrMDGM_yzI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .media-card
        h2.media-card__title Баланс двух энергий
        .media-card__img
          img(src="./assets/images/day2.jpg", alt="медитация изобилия")
        .media-card__player
          audio(src="./assets/uploads/course/2.mp3" controls)

      .media-card
        h2.media-card__title Расширение внутренних границ
        .media-card__img
          img(src="./assets/images/day3.jpg", alt="медитация изобилия")
        .media-card__player
          audio(src="./assets/uploads/course/3.mp3" controls)

      .media-card
        h2.media-card__title Возврат энергии
        .media-card__img
          img(src="./assets/images/day4.jpg", alt="медитация изобилия")
        .media-card__player
          audio(src="./assets/uploads/course/4.mp3" controls)

      .media-card
        h2.media-card__title Раздача долгов
        .media-card__img
          img(src="./assets/images/day5.jpg", alt="медитация изобилия")
        .media-card__player
          audio(src="./assets/uploads/course/5.mp3" controls)

      .media-card
        h2.media-card__title Отключение от эгрегоров
        .media-card__img
          img(src="./assets/images/day6.jpg", alt="медитация изобилия")
        .media-card__player
          audio(src="./assets/uploads/course/6.mp3" controls)

      .media-card
        h2.media-card__title Очищение от чужеродной энергии
        .media-card__img
          img(src="./assets/images/day7.jpg", alt="медитация изобилия")
        .media-card__player
          audio(src="./assets/uploads/course/7.mp3" controls)

      .media-card
        h2.media-card__title Восстановление энергии рода
        .media-card__img
          img(src="./assets/images/day8.jpg", alt="медитация изобилия")
        .media-card__player
          audio(src="./assets/uploads/course/8.mp3" controls)

      .media-card
        h2.media-card__title Зелёные ростки
        .media-card__img
          img(src="./assets/images/day9.jpg", alt="медитация изобилия")
        .media-card__player
          audio(src="./assets/uploads/course/9.mp3" controls)

      .media-card
        h2.media-card__title Дар небес
        .media-card__img
          img(src="./assets/images/day10.jpg", alt="медитация изобилия")
        .media-card__player
          audio(src="./assets/uploads/course/10.mp3" controls)
