- var price = "<i class='price'>15<span></span>999 &#8381;</i>"

mixin energoproriv()
  .marathon
    .container
      h2 Миникурс «Марафон ЭнергоПрорыв»

      p Меня зовут Маргарита Походня. Я психолог - регрессолог - энергокоуч. Как и многие, я перепробовала кучу направлений, чтобы изменить свою жизнь.

      p Я работала в найме 22 года и не могла полностью посвятить себя тому, что мне действительно нравилось.

      p Я долго не решалась отказаться от небольшой, но стабильной зарплаты. Меня тормозили страхи и неуверенность в себе.

      p Как только я убрала их с помощью гремучей смеси «регрессия+психология+коучинг», я уволилась и занялась тем, от чего теперь кайфую каждый день.

      p Исходя из своего опыта и полученных знаний, я поняла, что к результатам можно прийти проще и быстрее, чем это было у меня.

      p И этот уникальный короткий путь я покажу вам на курсе «Марафон ЭнергоПрорыв». При ежедневном выполнении практик курса, он займёт у вас всего 8 дней.

      p Любые перемены начинаются с мыслей и заканчиваются действиями.

      p Мы хотим любви, здоровья, богатства, но сбывается не то, что мы хотим, а то, во что мы верим!

      p ❗️Эти убеждения мешают нам перейти от желаний к действиям.

      p Успешные люди верят в свой успех и смело действуют для его достижения.

      p Чувство свободы, любви, уверенность в себе, радость от реализации собственных проектов, богатство, изобилие и оптимистичный взгляд в будущее — всё это отражение Энергетики счастливых и успешных людей.

      p Хотите иметь такую Энергетику✨?

      p Если Да, приглашаю вас принять участие в моём курсе «Марафон ЭнергоПрорыв».

      p На курсе «Марафон ЭнергоПрорыв» мы

      ul
        li уберём ваши страхи, стыд, злость, обиду и чувство вины,
        li у вас прибавиться сил и Энергии,
        li улучшится самочувствие,
        li появится уверенность в себе,
        li вы сможете чётче разобраться в своих желаниях,
        li и сможете, наконец, начать двигаться к счастливой, богатой и изобильной жизни.


      p ❗️Программа очень насыщенная — будет немного теории и много Практики!

      p Ведь мы хотим не в теории стать богатыми и успешными, а в реальной жизни😍

      p Я создала этот курс, чтобы помочь женщинам быстро изменить привычки мышления, обрести уверенность в себе и вновь наполниться Энергией, чтобы жизнь начала разворачиваться по наилучшему сценарию.

      .course__buy
        .course__title
          h2 Стоимость Марафона
          h3
            i.price !{price}

      p.course__buy-button
        a.btn(href="https://www.tinkoff.ru/rm/pokhodnya.margarita1/aAyUK8090" target="_blank") Купить

      p.course__buy-instruction ❗️Обязательно пришлите Чек 🧾 с подтверждением оплаты мне в личные сообщения  в <a href="https://t.me/Margarita_Po">Телеграмм</a> и ваш адрес электронной почты — это будет ваш логин для входа на страницу с материалами марафона.<br />После оплаты я добавлю вас в Закрытый Телеграм Чат, где я лично буду вашим куратором.

      p.course__buy-instruction Этот миникурс входит в состав курса <a href="/alladin.html">«Лампа Алладина»</a>, где вы получите ещё больше практик по более выгодной цене и сможете получить доступ к VIP-тарифу.
