mixin energoproriv()
  .course
    .container
      .course__title
        p.pre Марафон
        h1 ЭнергоПрорыв
          span Убираем препятствия на пути к счастливой, изобильной жизни

  .course-content
    .container
      .course-content__hello
        h3 Задание для ежедневной практики
          p Отслеживать свои реакции и записывать в тетрадь ответы на вопросы:
          ul
            li Что я сейчас чувствую (злость, обида, страх, чувство вины, страх, стыд, грусть, скука)?
            li акая я в этот момент, когда внутри это чувство (слабая, беззащитная, нелюбимая, ненужная…)?
            li Из какого возраста это чувство? — слушаем интуицию, записываем первое, что приходит в голову (например, 5 лет). Какой вывод о себе я тогда сделала? Например, «меня нельзя любить», или «мир враждебен», или «надо быть хорошей, чтобы меня любили»…
            li Затем пропишите 7 позитивных утверждений о себе взамен 1 негативного. Цель: переписать подсознательные убеждения из детства. Из этих позитивных утверждений создайте для себя Аффирмации, которые вы записали себе в тетрадочку, взамен негативных убеждений. Каждое утро проговаривать вслух и проживать новые чувства из ваших Аффирмаций.
      .media-card
        h2.media-card__title День 1
        .media-card__player
          <iframe width="560" height="315" src="https://www.youtube.com/embed/lHaUMW24XiI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .media-card__content
          h3 Задания первого дня
          ul
            li выписать ситуации из прошлого, где было чувство вины. И какой вывод вы тогда о себе сделали? Например, я должна делиться, тогда я буду хорошей девочкой, или я не должна быть счастлива, если другие несчастны. А затем проследите, как этот вывод продолжает влиять на вас до сих пор, как он влияет на ваше поведение, на ваши реакции. Попробуйте снова погрузиться в ситуацию из прошлого и прочувствовать, где в теле отзывается заблокированная Энергия. И тоже запишите. Это всё нам пригодится в четвёртый день Марафона, когда мы будем убирать эти Энергетические блоки из тела. Напишите, как бы вы поступили сегодня, если бы снова оказались в такой ситуации. Простить себя Прошлого и отделить себя Прошлого от себя сегодняшнего.
            li выписать ситуации из прошлого, где было чувство злости. И прописать всё по аналогии, как в предыдущем задании. ❗️И если вы хотите стать богатыми и успешными не в теории, а в реальной жизни, то обязательно сделайте это задание.
            li уединиться на 15 минут и сделать Медитацию «Снежное мерцание». Она поможет вам почувствовать себя увереннее и наполниться Энергией✨ Аудиофайл с Медитацией прикреплю ниже.
            li Каждый день перед сном 10 минут мечтайте — рисуйте картины своего будущего в своем воображении как можно детальнее, как можно больше чувства удовлетворения от увиденного, как можно больше радости от картины будущего испытывайте во время ваших мечтаний. Важно: представляйте себя и свои ощущения, чувства в момент, когда ваша мечта сбылась😍

        .media-card
          h2.media-card__title Медитация «Снежное мерцание»
          .media-card__img
            img(src="./assets/images/day4.jpg", alt="медитация снежное мерцание")
          .media-card__player
            audio(src="./assets/uploads/snow.mp3" controls)


        .media-card
          h2.media-card__title День 2
          .media-card__player
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Eeaem4y5Fqc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          .media-card__content
            h3 Задания второго дня
            ul
              li Выпишите все свои страхи, которые мешают вам по жизни, мешают двигаться вперёд к своей цели. Напротив каждого пункта напишите — является ли это смертельной опасности для вас? Если Нет, то напишите и произнесите вслух: «Я в безопасности!». И также, как вчера, вспомните ситуации из вашего прошлого, возможно, из детства, когда вы чего-то боялись, но в итоге всё обошлось — ведь вы живы. Вспомнив ситуации, где вы испугались, напишите своё самоопределение в момент страха — какая вы: ненужная, нелюбимая, слабая, беззащитная и так далее. И какой вывод вы тогда о себе сделали? Например, я никому не нужна, или меня могут бросить, или я не достойна любви и так далее. А затем проследите, как этот вывод продолжает влиять на вас до сих пор, как он влияет на ваше поведение, на ваши реакции. Попробуйте снова погрузиться в ситуацию из прошлого и прочувствовать, где в теле отзывается заблокированная Энергия. И тоже запишите. Это всё нам пригодится в пятый день Марафона, когда мы будем убирать эти Энергетические блоки из тела. Напишите, как бы вы поступили сегодня, если бы снова оказались в такой ситуации. Простить себя Прошлого и отделить себя Прошлого от себя сегодняшнего.
              li сделать Медитацию «Горная цепь». Она поможет вам начать действовать смелее на пути к вашей цели.
              li как я уже говорила вчера, продолжаем мечтать перед сном 10 минут.

        .media-card
          h2.media-card__title Медитация «Горная цепь»
          .media-card__img
            img(src="./assets/images/day5.jpg", alt="медитация горная цепь")
          .media-card__player
            audio(src="./assets/uploads/mountain.mp3" controls)

        .media-card
          h2.media-card__title День 3
          .media-card__player
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pMW3yX7B7AA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          .media-card__content
            h3 Задания третьего дня
            ul
              li Задание на сегодня такое же, как и в двух предыдущих днях, только теперь мы работаем со стыдом и обидой. Вспомнив ситуации, где вам было стыдно и вам было обидно, напишите своё самоопределение в тот момент — какая вы: ненужная, нелюбимая, слабая, беззащитная и так далее. И какой вывод вы тогда о себе сделали? Например, я никому не нужна, или меня могут бросить, или я не достойна любви и так далее. А затем проследите, как этот вывод продолжает влиять на вас до сих пор, как он влияет на ваше поведение, на ваши реакции. Попробуйте снова погрузиться в ситуации из прошлого и прочувствовать, где в теле отзывается заблокированная Энергия стыда и обиды. И тоже запишите. Это всё нам пригодится в шестой день Марафона, когда мы будем убирать эти Энергетические блоки из тела. Напишите, как бы вы поступили сегодня, если бы снова оказались в такой ситуации. Простить себя Прошлого и отделить себя Прошлого от себя сегодняшнего.
              li сделать Медитацию «Летящая стрела», которая поможет вам начать действовать в направлении вашей цели.
              li конечно же, продолжаем мечтать ежедневно хотя бы 10 минут — поднимаем вибрации и наполняемся дофамином, гормоном счастья!

        .media-card
          h2.media-card__title Медитация «Летящая стрела»
          .media-card__img
            img(src="./assets/images/day6.jpg", alt="медитация летящая стрела")
          .media-card__player
            audio(src="./assets/uploads/arrow.mp3" controls)

