mixin reviews()
  .reviews
    .reviews__bg
    .container.container--flex
      .reviews__block
        .reviews__text
          h2 Отзывы клиентов
          p Ничто не скажет о работе специалиста лучше, чем отзывы тех, кто воспользовался его услугами.

      .reviews__block
        .reviews__item
          p Хочу выразить огромную благодарность Маргарите , за изменения своей жизни через Регресс. Вопросы раскрываются и ответы приходят. И жизнь сама разворачивается другой стороной. Советую всем кто думает,надо или нет? Хотите быстрых изменений Идите искать ошибки и сбои в системе. Убрав их. Ваша машина поедет с другой скоростью и другим качеством . Это очень крутой опыт в вашей жизни.

        .reviews__item
          p Хочу выразить огромную благодарность Маргарите , за изменения своей жизни через Регресс. Вопросы раскрываются и ответы приходят. И жизнь сама разворачивается другой стороной. Советую всем кто думает,надо или нет? Хотите быстрых изменений Идите искать ошибки и сбои в системе. Убрав их. Ваша машина поедет с другой скоростью и другим качеством . Это очень крутой опыт в вашей жизни.

        .reviews__item
          p Хочу выразить огромную благодарность Маргарите , за изменения своей жизни через Регресс. Вопросы раскрываются и ответы приходят. И жизнь сама разворачивается другой стороной. Советую всем кто думает,надо или нет? Хотите быстрых изменений Идите искать ошибки и сбои в системе. Убрав их. Ваша машина поедет с другой скоростью и другим качеством . Это очень крутой опыт в вашей жизни.
