.reviews
  position: relative
  padding: 150px 0
  margin-top: 100px

  .container--flex
    justify-content: space-between

  h2
    font-size: 3.1rem
    line-height 1.2

.reviews__bg
  background: #1b2031
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  transform: skewY(-2deg)

.reviews__block
  position: relative;
  width: calc((100% - 40px) / 2)

  +below(992px)
      width: 100%

.reviews__text
  margin-right: 100px
  position: sticky
  position: -webkit-sticky
  top: 150px
  color: #f8f9fa

.reviews__item
  background: #fff
  padding: 30px
  border-radius: 20px
  margin-bottom: 30px
  box-shadow: 0 20px 40px 0 rgba(50,65,141,.12)
