mixin reviews()
  .reviews
    .reviews__bg
    .container.container--flex
      .reviews__block
        .reviews__text
          h2 Отзывы клиентов
          p Ничто не скажет о работе специалиста лучше, чем отзывы тех, кто воспользовался его услугами.

      .reviews__block
        .reviews__item
          p Добрый вечер. Маргарита, хочу выразить искреннюю благодарность за Ваш большой и неоценимый труд. На Вас возложена уникальная миссия помогать людям разбираться и решать собственные проблемы души. У каждого это своя неповторимая История жизни и судьбы. Вы как в «Мастер и Маргарите» у Булгакова распутываете причинно-следственные связи несовместимых ситуаций и событий. Это как теория вероятности Эйнштена, где события, не связанные и переменные, влияют на всю картину жизни в целом. С огромной благодарностью и позитивными пожеланиями к Вам.

        .reviews__item
          p Маргарита благодарю тебя за сессию. Я боялась, что это будет борьба мозга и я ничего не увижу или мозг начнёт подбрасывать мне истории. Но когда В сессии все стало открываться и бессмысленность приобрела смысл. Это было супер. Хочу сказать, что не жалею об этом опыте и хотела бы посмотреть, что я смогу увидеть в будущем. Я ещё наверное пару часов была в этом состоянии переживания двух Историй.

        .reviews__item
          p Хочу выразить огромную благодарность Маргарите, за изменения своей жизни через Регресс. Вопросы раскрываются и Ответы приходят. И жизнь сама разворачивается другой стороной. Советую всем кто думает, надо или нет? Хотите быстрых изменений Идите искать ошибки и сбои в системе. Убрав их, ваша машина поедет с другой скоростью и другим качеством. Это очень крутой опыт в вашей жизни.

        .reviews__item
          p Я не сразу решила попробовать регрессию, но вот время пришло. Скажу честно, у меня были опасения, Что делая это ты не будешь контролировать происходящее потому, что это гипноз. Это всё, Конечно, не имеет отношения к правде. В любой момент можно всё закончить, но в моём случае я пошла до конца. Сеанс длился около четырёх часов, и это было не просто. Но я это выдержала, благодаря мастерству регрессолога. Маргарита очень аккуратно и внимательно провела моё подсознание по всем этапам процессов, которые вскрывались по пути, терпеливо ожидая, когда Владыки Кармы завершат свои процессы. Сейчас нахожусь в отслеживании и ожидании результатов этой практики. Благодарю, Маргариту, за участие и профессионализм!

        .reviews__item
          p От всей Души благодарю Маргариту за мою проработку страха потери тела. Она грамотно провела меня по всем точкам входа клеточной памяти, где возникло и зафиксировалось это чувство. Я попала поочередно в несколько жизней в Ключевые моменты. И пришло осознание, что страх смерти, страх потери своего тела возникли из-за непонимания, кто я на самом деле. Я - это не тело, Я - это душа. Очень приятно общаться с профессионалом, которая в каждый момент сессии знает, что надо делать! Ещё раз Благодарю!

        .reviews__item
          p Риточка, хочу тебя благодарить от Души за эти увлекательные путешествия в Прошлое а также в Будущее! Это был очень глубокий и невероятный опыт! Я до сих пор нахожусь в приятном подвешенном состоянии от осознания вероятного Будущего, а также с благовением понимаю еще лучше о моем Предназначении благодаря увиденному в Прошлых Жизнях. Сошлись все Пазлы, Причины, Следствия. Зажглись все Факелы Вселенной, освещая Светлое Будущее! Регрессии с тобой превзошли все мои ожидания!! Мой внутренний скептик ушел в небытие, уступая свое место Вере и Истинному Творцу!

        .reviews__item
          p Очень люблю читать посты Маргариты. А сегодня посчастливилось получить Консультацию онлайн и убедиться насколько приятная и мудрая женщина помогает людям получить ответы на Вопросы из своей жизни. Простой разговор открыл счастливые и не очень моменты из прошлого, которые дали отражение в настоящем! Все внутри нас и это невероятно, когда приходит осознание. Спасибо, Маргарита)

        .reviews__item
          p Хочу выразить огромную благодарность за труд Маргариты. Регрессия это кропотливый труд с обоих сторон. И думать,что за один раз всё поменяется) это нe про это. Если вы готовы идти к будущему осознанно и понимать, что труд предстоит пройти и исправить все то, что несли с собой эти годы. Тогда награда будет. Вы придёте к счастью и гармонии и достигнете поставленной цели. Главное не сходить с пути. Совет всем тем, кто на этом пути и думает идти дальше или все хватит. Благодарна Маргарите ,что идет со мной и ведёт к изменениям и лучшему сценарию моей жизни.

        .reviews__item
          p Благодарю Маргариту за Интереснейшую сессию по Возвращению фрагментов Души из Внеземных воплощений. Один фрагмент потерялся, попал в другое Измерение и не знал, как выбраться Оттуда. А два других фрагмента насильно удерживались. Нам удалось всех вернуть. Совет Старейшин показал ещё один фрагмент, который Можно вернуть. Он застрял над материальными благами. Все фрагменты прошли через Исцеление и воссоединились с Высшим Я. И это так здорово, что ты можешь для себя вернуть энергию, почувствовать ее, наполниться. Рита чуткий регрессолог, уверенно ведущий по лабиринту! Мне с ней спокойно в любых ситуациях.

        .reviews__item
          p Благодарю от всего сердца Маргариту за проработку вопроса моего Предназначения. Погрузившись в хроники Акаши забрали дары, необходимые для реализации. Увидев Книгу моей Жизни стало понятно В чем суть моего Предназначения. Благодарю моего Духовного Наставника который объяснил что делать дальше и ответил на мои насущные вопросы. Сейчас хочется идти вперёд и реализовать проект своей счастливой жизни.
