mixin indexLinks()
  .container
    .links
      a.links__item(href="https://t.me/expressudacha")
        h3 Марафон «Экспресс удача»

      a.links__item(href="./course.html")
        h3 Курс энергопрактик «С&nbsp;Маргаритой к Изобилию»

      a.links__item(href="./consult.html")
        h3 Бесплатная консультация

      a.links__item(href="https://t.me/margarita_regressolog")
        h3 Телеграм канал

      a.links__item(href="https://vk.com/margarita_regressolog")
        h3 вконтакте
